@media screen and (max-width: 750px) {

    .navbar-fixed-top.mobile {
        height: 35%;
        margin-top: 0px;
        padding: 0px;
        position: relative;
        text-align: center;
        width: 100%;

        .navbar-header {

            height: 40px;
            img.navbar-brand {
            float: none;

                &.nav-icon.mobile {
                    cursor: default;
                    height: 60px;
                    transform: scale3d(1.0, 1.0, 1.0);
                }

            }
        }   

        .li-style {

            &:hover{
                background-color: transparent !important;
                border-bottom: none;
                border-left: none;
                transform: scale(0.7);
                transform: scaleX(10px);
                transition: all 0.5s ease-in-out;
            }
        }

    }
}