@import 'style/variables.scss';
@import 'Components/Template/style/Menu.mobile.scss';

.navbar-fixed-top{
    cursor: crosshair;

    img.navbar-brand.nav-icon {
        cursor: crosshair;
        height: 89px;
        padding: 2px;
        transform: scale3d(1.2, 1.2, 1.2);
    }

    > li {
        padding-top: 10px;
    }

    .li-style {
        background-color: transparent !important;
        border-left: 2px solid;
        color: #d27a5d;
        cursor: crosshair;
        font-family: $font-stack;
        font-size: 19px;
        transition: all 0.5s ease-in-out;
        
        > a {
            padding-top: 35px;
            padding: 10px 40px;
        }
    
        &:hover{
            background-color: transparent !important;
            border-bottom: 2px solid;
            border-left: none;
            color: #d27a5d;
            transform: scale(0.7);
            transform: scaleX(10px);
            transition: all 0.5s ease-in-out;
        }
    
        &.disabled {
            cursor: none;
            pointer-events: none;
            
            &:hover{
                color: grey;
            }
        }
    }    
}

