@import 'style/variables';

img.navbar-brand.nav-icon {
    padding: 2px;
    height: 89px;
}

.li-style {
    color: #d27a5d;
    font-family: $font-stack;
    font-size: 19px;
    padding: 10px 40px;
    border-left: 2px solid;

    >a {
        padding-top: 35px;
        padding: 10px 40px;
    }
}
li {
    padding-top: 10px;
}