@import 'Components/Contact/style/Contact.mobile.scss';

.Contact {
    animation: opacityFaster 0.5s;
    background-image: linear-gradient(to right, #ffbe98 16%, #ff9a9e 77%);
    height: 100vw;

    .row.container-contact {
        position: relative;
        top: 8%;
        .container-titles {
            margin-bottom: 2%;
            
            .contact-title {
                color: #b05f44;
                font-family: Moon;
                font-size: 35px;
                left: 31%;
                margin: 0px;
                position: relative;
                padding: 0px;
            }

            .coffe-img {
                left: 62%;
                width: 7%;
                height: 50px;
                position: absolute;

                .cup {
                    width: 58px;
                    background: #fdd47a;

                    img.mug {
                        position: absolute;
                        left: 31px;
                        width: 51px;
                    }

                    .smoke:before{
                        position: absolute;
                        content: "";
                        background: transparent;
                        width: 61px;
                        height: 30px;
                        top: -35px;
                        box-shadow: 0px 25px 20px -9px #e5e5e5;
                        opacity: 0;
                        animation: smoke 4s linear infinite;
                    }

                    .smoke:after{
                        position: absolute;
                        content: "";
                        background: transparent;
                        width: 61px;
                        height: 30px;
                        top: -35px;
                         box-shadow: 0px 25px 20px -9px #e5e5e5;
                        opacity: 0;
                        animation: smoke 4s linear 2s infinite;
                        transition: 0.5s linear;
                      }

                    @keyframes smoke {
                        0% {
                            transform: translateY(0px);
                        }

                        50% {
                            transform: translateY(-35px);
                            opacity: 1;
                        }

                        70% {
                            transform: translateY(-55px);
                            opacity: 0.8;
                        }

                        100% {
                            transform: translateY(-115px);
                            opacity: 0.2;
                            width: 20%;
                            margin-left: 40px;
                        }
                    }
                }       
            }
        }
        .form-container {
            align-content: center;
            align-items: center;
            left: 31%;
            position: relative;
            width: 40%;

            .button-send{
                background-color: #b05f44;
                border: none;
                color: #fffdfc;
                font-family: Moon;
                font-size: 20px;
                height: 60px;
                margin-top: 15px;
                width: 37%;
            }

            .input-form{
                background-color: #eee;
                height: 46px;
            }

            .text-form{
                background-color: #eee;
            }
        }
    }
    
    @keyframes opacityFaster {
        from{ opacity: 0.5;}
        to { opacity: 1.0;}
    }
}

