@media screen and (max-width: 750px) {
 
    .Contact {
        height: calc(100% - (20px + 30px)) !important;
        overflow: auto;
        
        .row.container-contact.mobile {
            top: 0%;
            overflow-x: hidden;

            .container-titles {

                .contact-title.mobile {
                    font-size: 25px;
                    left: 0%;
                    text-align: center;
                    margin: 0px;
                    padding: 0px;
                }
                
                .coffe-img {
                    display: none;
                }

            }
            .form-container {

                .button-send{
                    font-size: 14px;
                    height: 35px;
                    margin-top: 5px;
                    width: 100%;
                }
              
                .input-form{
                    height: 30px;
                }
                
            }

            .col-sm-6.name-input {
                margin-bottom: 15px;
            }
        }

    } 
}