/*  fonts   */
$font-stack: Moon;

/*  colors  */
$juicy-peach: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$gentle-care: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$warm-flame: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$african-field: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$passionate-bed: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);