@font-face {
  font-family: 'Moon';
  src: local('Moon'), url(./fonts/Moon2.0-Regular.otf);
}

.App {
  text-align: center;
  height: 700px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

  .container-text{
    padding: 15% 0% 0% 0%;
  }

  .text-about{
    display: inline-block;
    max-width: 67%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #b16952;
    font-size: 17px;
    text-align: justify;
  }

  .container-index{

    .image-index{
      height: auto;
      width: 60%;
      margin-top: 15%;
      float: left;
      margin-left: 25%;
    }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
