@media screen and (max-width: 750px) {

    .App {
        .container-text.mobile {
            padding: 0px;
            
            .text-about {
                margin-top: 30%;
            }
            
            .welcome-title{
                font-size: 35px;
                margin-bottom: 5px;
            }
        }
    }
}