@media screen and (max-width: 750px) {

    .App {
    
        height: calc(100% - (20px + 30px)) !important;
        .container-text.mobile {
            padding: 0px;
            
            .text-about {
                margin-top: 1%;
            }
            
            .welcome-title{
                font-size: 35px;
                margin-bottom: 5px;
            }
        }

        .container-index {
            .image-index.mobile {
              width: 80%;
            }
        }
    }
}