@import 'style/variables.scss';

.App {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  height: 700px;
  text-align: center;

  .container-text {
    padding: 12% 4% 0% 0%;

    .welcome-title{
      color: #9ebcac;
      cursor: default;
      font-family: Moon;
      font-size: 60px;
      margin-bottom: 20px;
    }
  }

  .text-about {
    color: #b16952;
    display: inline-block;
    font-family: $font-stack;
    font-size: 17px;
    font-weight: bold;
    left: 97%;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    max-width: 62%;
    opacity: 0;
    padding-left: 82%;
    position: relative;
    text-align: justify;
  }

  .text-transition-open {
    left: 0%;
    opacity: 1;
    padding-left: 0%;
  }

  .container-about {
    margin: 0px;
  }

  .container-index {

    .image-index {
      float: left;
      height: 0px;
      margin-left: 28%;
      padding-top: 90%;
      width: 60%;
      z-index: 20;
    }

    
    .image-index-transition {
      float: left;
      height: auto;
      margin-left: 25%;
      padding-top: 29%;
      transform: translate(0px, -100px);
      transition: all 2s ease-out;
    }
  }
}


